.youtube-player-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Añade esta línea */
  position: absolute; /* Añade esta línea para que no ocupe espacio */
}

/* Puedes añadir más estilos si quieres que el reproductor sea responsive */
@media (max-width: 768px) {
  .youtube-player-container iframe {
    width: 90%;
    height: auto; /* Mantener la proporción del video */
  }
}