#root {
  width: 80vw;
  margin: 2rem auto; /* Centrado con margen superior e inferior */
  padding: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.2); /* Color de fondo semitransparente */
  border-radius: 16px; /* Bordes curveados */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  backdrop-filter: blur(5px); /* Efecto de desenfoque tipo glass */
  -webkit-backdrop-filter: blur(5px); /* Para compatibilidad con Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde ligero para definir la forma */
}

.gif {
  border-radius: 8px;
}

p.unlock-instructions{
  font-size: 1.1em;
  font-weight: 400;
  color: #f8f8f8; /* O el color que prefieras */
  margin-top: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game-status-message {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  color: #333; /* O el color que prefieras */
}

.new-game-button-app {
  background-color: #007bff; /* Un color diferente para distinguirlo */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.new-game-button-app:hover {
  background-color: #0056b3;
}

.status-message {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8d7da; /* Un rojo claro para indicar pérdida o error */
  color: #721c24; /* Texto oscuro para contraste */
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.play-again-button, .start-game-button {
  background-color: #28a745; /* Verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.play-again-button:hover, .start-game-button:hover {
  background-color: #218838; /* Verde más oscuro al pasar el ratón */
}

.congratulations-message {
  padding: 20px;
  background-color: #d4edda; /* Un verde claro para indicar éxito */
  color: #155724; /* Texto oscuro para contraste */
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  text-align: center;
}

.sub-message {
  font-size: 1.2em;
  margin-top: 1.5em;
}

.congratulations-message h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.initial-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.unlock-instructions {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}
